html {
  height:100%;
  background-color: cornsilk;
  background-image: url("/tile.png");
  color: rgb(30, 44, 149);

  image-rendering: pixelated;
}

body{
  margin: 0;
  display: flex;
  min-height: 100%;
}


#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  flex: 1;
}

/* elements */ 

img {
  width: 100%;
}

hr {
    border: 1px solid rgb(255, 220, 80);
    border-radius: 8px;
}

/* outer box for content */

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: rgba(0,0,0,0);
  border-radius: 8px;
  max-width: 50em;
}

.content {
  background-color: rgba(0,0,0,0);
  padding: 20px;
  flex: 1;
  min-height:0;
}

/* feed on home page */

.feed-group {
  padding-bottom: 30px;
}

.feed-bulletin {
  padding: 10px;
  background-color: burlywood;
  border: 10px solid #a5412a;
  border-radius: 8px;
  box-shadow: 4px 1px #761919,
    8px 6px 2px rgba(192, 133, 80, 0.5), 
    inset 2px 0 #741515, 
    inset 2px 0  2px #741515,
    inset 0 4px #761919,
    inset 0 4px 2px #761919;
}

.feed-title {
  background-color: rgb(255, 248, 233);
  box-shadow: 1px 2px 2px rgb(192, 137, 99);
  border-top: 5px solid orange;
  border-bottom: 5px solid orange;
  padding: 2px;
}


/* Settings feed list of channel info */

.feed-list {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
  background-color:#fffcb2;
  box-shadow: 
    inset 78px 0px #fffcb2,inset 80px 0px rgb(255, 120, 120);
}


.looseleaf {
  background-color: #fffcb2;
  box-shadow: 
    inset 78px 0px #fffcb2,inset 80px 0px rgb(255, 120, 120),
    5px 5px 4px rgb(216, 181, 95);
}

.looseleaf-top {
  display: flex;
  width: 100%;
  height: 80px;
  background-color:#fffcb2;
  border-bottom: 2px solid rgb(125, 199, 217);
  line-height: 40px;
  box-shadow: 
    inset 78px 0px #fffcb2,inset 80px 0px rgb(255, 120, 120);
  
}

.looseleaf-item {
  padding-left: 100px;
  align-self: flex-end;
}

.looseleaf-line {
  background-color:#fffcb2;
  border-bottom: 2px solid rgb(125, 199, 217);
  box-shadow: 
    inset 78px 0px #fffcb2,inset 80px 0px rgb(255, 120, 120);
}

.lined {
  padding-left: 100px;
  border-bottom: 2px solid rgb(125, 199, 217);
}

.hole {
  content: url('hole.png');
  display: inline;
  width: 16px;
  position: relative;
  left: -50px;
}

.lined-title {
  padding-left: 84px;
}

/* topbar items */

.topbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 220, 80, 0);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0 20px 10px 20px;
}

.topbar-nav {
  align-self: flex-end;
}

.topbar-links {
  display: flex;
  margin: auto;
  list-style: none;
  padding-left: 0;
}

.topbar-link {
  padding: 0 5px 0 5px;
}

/* footer */

.footer {
  text-align: center;
  padding: 5px 0 5px 0;
  background-color: rgba(255, 255, 255, 0);
}


/* x-scrollable feed */

.carousel {
  display: flex;
  overflow-x: auto;
  align-items: stretch;
  padding-left: 0;
  scrollbar-color: rgb(231, 201, 124) rgb(198, 126, 58); 
  scrollbar-width: thin;
  /* scroll-snap-type: x mandatory; */
  padding: 10px;
}

.carousel-article {
  background-color: #fffcb2;
  box-shadow: 1px 5px 2px rgb(192, 137, 99);
  list-style: none;
  flex: 0 0 31%;
  scroll-snap-align: start;
  margin-right: 5px;
  padding: 5px;
  padding-bottom: 20px;
}

/* modal */

.modal-group {
  position: fixed;
  width: 100%;
  height: 100%;
}

.modal-bg {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
}

.modal-content {
  background-color: #fffcb2;
  box-shadow: 1px 5px 2px rgb(123, 79, 48);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  position: fixed;
  top: 10%;
  left: 50%;
  max-width: 55em;
  max-height: 70vh;
  transform: translateX(-50%);

  padding: 25px;

}

/* inside content */

.html-content {
  padding: 5px 0 5px 0;
}