html {
  height:100%;
  background-color: rgb(148, 232, 244);
  color: rgb(30, 44, 149);
}

body{
  margin: 0;
  display: flex;
  min-height: 100%;
}


#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  flex: 1;
}

/* elements */ 

img {
  width: 100%;
}

hr {
    border: 1px solid rgb(255, 220, 80);
    border-radius: 8px;
}

/* outer box for content */

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  max-width: 50em;
}

.content {
  background-color: white;
  padding: 20px;
  flex: 1;
  min-height:0;
}

/* feed */

.feed-group {
  padding-bottom: 30px;
}

.feed-bulletin {
  padding: 10px;
  background-color: burlywood;
  border: 10px solid brown;
  border-radius: 8px;
  box-shadow: 1px 5px 2px rgb(192, 133, 80);
}

.feed-title {
  background-color: white;
  border-top: 5px solid orange;
  border-bottom: 5px solid orange;
  padding: 2px;
}

.feed-list {
  padding-left: 0;
}

.feed-info {
  display: flex;
  list-style: none;
  border: 1px solid blue;
}

/* topbar items */

.topbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 220, 80);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0 20px 10px 20px;
}

.topbar-nav {
  align-self: flex-end;
}

.topbar-links {
  display: flex;
  margin: auto;
  list-style: none;
  padding-left: 0;
}

.topbar-link {
  padding: 0 5px 0 5px;
}

/* footer */

.footer {
  text-align: center;
  padding: 5px 0 5px 0;
  background-color: white;
}


/* x-scrollable feed */

.carousel {
  display: flex;
  overflow-x: auto;
  align-items: stretch;
  padding-left: 0;
  scrollbar-color: rgb(255, 228, 159) white; 
  scrollbar-width: thin;
  /* scroll-snap-type: x mandatory; */
  padding: 10px;
}

.carousel-article {
  background-color: #fffcb2;
  box-shadow: 1px 5px 2px rgb(192, 137, 99);
  list-style: none;
  flex: 0 0 31%;
  scroll-snap-align: start;
  margin-right: 5px;
  padding: 5px;
  padding-bottom: 20px;
}

/* modal */

.modal-group {
  position: fixed;
  width: 100%;
  height: 100%;
}

.modal-bg {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
}

.modal-content {
  background-color: #fffcb2;
  box-shadow: 1px 5px 2px rgb(123, 79, 48);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  position: fixed;
  top: 10%;
  left: 50%;
  max-width: 55em;
  max-height: 70vh;
  transform: translateX(-50%);

  padding: 25px;

}

/* inside content */

.html-content {
  padding: 5px 0 5px 0;
}